{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="{% static 'img/guest.jpg' %}" alt="">
            <h6>{{ post.post_user }}</h6>
            <small>Сообщений: 16,963</small>
            <br>
            <small>Очки репутации: 221,385</small>
            <p></p>
        </div>
        <div class="col-10 user_text">
            <h5>{{post.post_name}}</h5>
            <hr>
            {{post.post_text}}
            <br>
            <small>{{post.post_data}}</small>
            <small >{{post.post_like}}
                {% if user.is_authenticated %}
                <a href="{% url 'post_like_dialog' post.id %}">Like</a>
                {% else %}
                    <span>Like</span>
                {% endif %}
            </small>
        </div>
        {% if comment_list %}
            {% for comment in comment_list %}
            <div class="col-2">
                <img src="{% static 'img/guest.jpg' %}" alt="">
                <h6>{{ comment.comment_user }}</h6>
                <small>Сообщений: 16,963</small>
                <br>
                <small>Очки репутации: 221,385</small>
                <p></p>
            </div>
            <div class="col-10 user_text">
                <hr>
                {{comment.comment_text}}
                <br>
                <small>{{comment.comment_data}}</small>
                <small>{{comment.comment_like}}
                    {% if user.is_authenticated %}
                    <a href="{% url 'like_comment' post.id comment.id %}">Like</a>
                    {% else %}
                    <span>Like</span>
                    {% endif %}
                </small>
            </div>
            {% endfor %}
        {% else %}
            <p>No comments are available.</p>
        {% endif %}
    </div>
</div>
<div class="container">
    <form class="text-right" action="{% url 'comment' post.id %}" method="POST">
        {% if user.is_authenticated %}
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <input type="submit" value="Submit"/>
        {% endif %}
    </form>
</div>
{% endblock %}